html, body {
    width: 100%;
    height: 100%;

} 
.root{
    width: 100%;
    height: 100%;
    font-family: 'Roboto' !important;


}
.topBar{
    width: 100%;
    height: 67px;
    background-color: #E5E5E5;
    color: #E8833A;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto' !important;

}
.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

img{
    width: 129px;
    height: 193px;
}

.movie{
    width: 145px;
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 5px 15px;
    
}

.chooseMovie{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 67px;
}

.moviePage{
    width: 100%;
    padding-bottom: 117px;
}

.btns{
    display: flex;
    margin: 22px 0px;
}

.btn{
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0px 4px;
}

.btn:hover{
    transition: 0.4s;
    color: #E8833A;
    background: #FFFFFF;
    border-radius: 3px;
    border-color:#E8833A;
    border-style: solid;
    border-width: 1px;
}

.sections{
    padding-left: 24px;
}

.footer{
    height: 117px;
    background: #DFE6ED;
    border: 1px solid #9EADBA;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
}

.divFooter{
    width: 64px;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 14px;
}

.imgFooter{
    width: 48px;
    height: 72px;
}

.sectionSeats{
    width: 100%;
}

.seats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin:0 auto;
    
}

.seat{
    width: 26px;
    height: 26px;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 7px;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.input{
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

.gray{
    cursor: pointer;
}

.g{
    background:#8DD7CF;
    border: 1px solid #1AAE9E;
}

.y{
    background:#FBE192;
    border: 1px solid #F7C52B;
}

.sub{
    display: flex;
    flex-direction: column;
}

.sub1{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.subb{
    text-align: center;
    font-size: 60%;
}

.btnSeats{
    margin-top: 57px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 130px;

}

.btnSeatsW{
    width: 225px;
    height: 42px;
    background: #E8833A;
    border: none;
    color: white;
}

.btnSeatsW:hover{
    transition: 0.4s;
    color: #E8833A;
    background: #FFFFFF;
    border-radius: 3px;
    border-color:#E8833A;
    border-style: solid;
    border-width: 1px;
}

.successText{
    color: #247A6B;
    font-size: 24px;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #E5E5E5;
    border-color: #E5E5E5 transparent #E5E5E5 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
}
  
